@using WebUI.Models
@model OrderListViewModel
@{
    ViewData["Title"] = "Sifarişlər";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="mb-4">Sifarişlər </h2>

@foreach (var order in Model.Orders)
{
    <div class="card mb-4 p-3 border shadow-sm">
        <h4>@order.FullName - <span class="text-muted">@order.PhoneNumber</span></h4>
        <p>
            <strong>Şəhər:</strong> @order.City |
            <strong>Mağaza:</strong> @(order.Location ?? "--") |
            <strong>Tarix:</strong> @order.CreatedDate.ToString("dd.MM.yyyy HH:mm")
        </p>
        <p>
            <strong>Ümumi qiymət:</strong> @order.TotalPrice ₼ |
            <strong>Endirimli qiymət:</strong> @order.TotalDiscountPrice ₼
        </p>

        @if (!string.IsNullOrWhiteSpace(order.AdditionalInfo))
        {
            <p>
                <strong>Əlavə qeydlər:</strong> @order.AdditionalInfo
            </p>
        }

        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Məhsul</th>
                    <th>Rəng</th>
                    <th>Say</th>
                    <th>Qiymət</th>
                    <th>Endirimli</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in order.OrderItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Color</td>
                        <td>@item.Count</td>
                        <td>@item.Price ₼</td>
                        <td>@item.DiscountPrice ₼</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
<!-- Pagination -->
<nav aria-label="Səhifələmə">
    <ul class="pagination justify-content-center">

        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link border-0" href="?page=@(Model.CurrentPage - 1)" aria-label="Əvvəlki">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link border-0" href="?page=@i">@i</a>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link border-0" href="?page=@(Model.CurrentPage + 1)" aria-label="Növbəti">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        }

    </ul>
</nav>
