@model UpdateProductDto
@{
    ViewData["Title"] = "Məhsulu Redaktə Et";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Məhsul Redaktəsi</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Məhsul Redaktəsi</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label for="productname">Məhsul Adı</label>
                                <input type="text" class="form-control" asp-for="Name" id="productname" required>
                            </div>

                            <div class="form-group">
                                <label for="price">Məhsul Qiyməti</label>
                                <input type="number" step="0.01" class="form-control" asp-for="Price" id="price" required>
                            </div>

                            <div class="form-group">
                                <label for="OldPrice">Endirim Qiyməti</label>
                                <input type="number" step="0.01" class="form-control" asp-for="DiscountPrice" id="OldPrice">
                            </div>

                            <div class="form-group">
                                <label for="stock">Stok Sayı</label>
                                <input type="number" class="form-control" asp-for="Stock" id="stock" required>
                            </div>

                            <div class="form-group">
                                <label for="category">Kateqoriya Seçin</label>
                                @Html.DropDownListFor(x => x.CategoryId,
                                         (List<SelectListItem>)ViewBag.CategoryValues,
                                         new { @class = "form-control", id = "CategoryId" })
                            </div>

                            <div class="form-group">
                                <label for="brand">Brend Seçin</label>
                                @Html.DropDownListFor(x => x.BrandId,
                                         (List<SelectListItem>)ViewBag.BrandValues,
                                         new { @class = "form-control", id = "BrandId" })
                            </div>

                            <div class="form-group">
                                <label for="gender">Cins Seçin</label>
                                @Html.DropDownListFor(x => x.GenderId,
                                         (List<SelectListItem>)ViewBag.GenderValues,
                                         new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label for="color">Rəng Seçin</label>
                                @Html.ListBoxFor(x => x.ColorIds,
                                         (List<SelectListItem>)ViewBag.ColorValues,
                                         new { @class = "form-control", id = "color", multiple = "multiple" })
                            </div>

                            <div class="form-group">
                                <label for="description">Açıqlama</label>
                                <textarea class="form-control" asp-for="Description" id="description" rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="shape">Forma Seçin</label>
                                @Html.DropDownListFor(x => x.ShapeId,
                                         (List<SelectListItem>)ViewBag.ShapeValues,
                                         new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label class="form-label">Ən çox satılan</label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="BestSeller" id="status">
                                    <label class="custom-control-label" for="status">Aktiv</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Təsdiq Et</button>
                            <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">İmtina Et</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CategoryId').on('change', function () {
                var categoryText = $('#CategoryId option:selected').text();

                $.ajax({
                    url: '/Product/GetBrandsByCategoryName',
                    type: 'GET',
                    data: { categoryName: categoryText },
                    success: function (brands) {
                        var $brandDropdown = $('#BrandId');
                        $brandDropdown.empty();

                        $.each(brands, function (i, brand) {
                            $brandDropdown.append($('<option></option>').val(brand.value).text(brand.text));
                        });
                    }
                });
            });
        });
    </script>
}
